# Игнорировать временные файлы и каталоги сборки в папке server
server/QtWidgetsApplication3/QtWidgetsApplication3.vcxproj
server/QtWidgetsApplication3/QtWidgetsApplication3.vcxproj.filters
server/QtWidgetsApplication3/QtWidgetsApplication3.vcxproj.user
server/QtWidgetsApplication3/x64/
server/x64/

# Игнорировать временные файлы и каталоги сборки в папке app_for_serv
app_for_serv/app_for_serv/app_for_serv.vcxproj
app_for_serv/app_for_serv/app_for_serv.vcxproj.filters
app_for_serv/app_for_serv/app_for_serv.vcxproj.user
app_for_serv/app_for_serv/x64/

# Visual Studio temporary files
.vs/
*.vsidx 

app_for_serv/x64/
